{% extends "base.html" %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кинотека — Управление фильмами</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/ad.css') }}">
{% endblock %}


{% block content %}
    <!-- Основной контент -->
    <div class="container admin-container">
        <h1 class="admin-title">Управление фильмами</h1>

        <div class="admin-panel">
            <!-- Блок 1: Добавление нового фильма -->
            <div class="add-movie-form">
                <h2>Добавить новый фильм</h2>
                <form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_page.add_films') }}">

                    <div class="form-row">
                        <div class="form-group">
                            <label for="new_title">Название</label>
                            <input type="text" id="new_title" name="title" required>
                        </div>
                        <div class="form-group">
                            <label for="new_genre">Жанр</label>
                            <input type="text" id="new_genre" name="genre" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="new_rating">Рейтинг (0-10)</label>
                            <input type="number" id="new_rating" name="rating" min="0" max="10" step="0.1" required>
                        </div>
                        <div class="form-group">
                            <label for="new_duration">Длительность</label>
                            <input type="time" id="new_duration" name="duration" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="new_session_date">дата сеанса</label>
                            <input type="date" id="new_session_date" name="session_date" required>
                        </div>
                        <div class="form-group">
                            <label for="new_session_time">время сеанса</label>
                            <input type="time" id="new_session_time" name="session_time" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="new_price">Цена билета (₽)</label>
                            <input type="number" id="new_price" name="price" required>
                        </div>
                        <div class="form-group">
                            <label for="new_image">Постер фильма</label>
                            <input type="file" id="new_image" name="image" accept="image/*" required>
                        </div>
                    </div>

                    <button type="submit" class="btn-add">Добавить фильм</button>
                </form>
            </div>

            <!-- Блок 2: Список фильмов -->
            <div class="movie-list">
                <h2>Список фильмов</h2>
                <div class="movie-list-container">
                    {% for movie in movies %}
                        <div class="movie-item" data-movie-id="{{ movie.EventId }}" movie-rating="{{ movie.Rating }}" movie-name="{{ movie.ImageName }}"
                             onclick="selectMovie(this)">
                            <img src="{{ url_for('static', filename='movies/images/' + movie.ImageName) }}"
                                 alt="{{ movie.Title }}">
                            <div class="movie-info">
                                <h3>{{ movie.Title }}</h3>
                                <p>{{ genres[movie.GenreId - 1] }} | {{ movie.Duration }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Блок 3: Редактирование выбранного фильма -->
            <div class="edit-movie-form" id="editForm">
                <h2>Редактирование фильма</h2>
                <form method="POST" enctype="multipart/form-data" action="">
                    <input type="hidden" id="edit_id" name="movie_id">

                    <div class="current-poster">
                        <img id="edit_image_preview" src="" alt="Постер фильма">
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="edit_title">Название</label>
                            <input type="text" id="edit_title" name="title" required>
                        </div>
                        <div class="form-group">
                            <label for="edit_genre">Жанр</label>
                            <input type="text" id="edit_genre" name="genre" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="edit_rating">Рейтинг</label>
                            <input type="number" id="edit_rating" name="rating" min="0" max="10" step="0.1" required>
                        </div>
                        <div class="form-group">
                            <label for="edit_duration">Длительность</label>
                            <input type="number" id="edit_duration" name="duration" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="edit_session_time">Время сеанса</label>
                            <input type="time" id="edit_session_time" name="session_time" required>
                        </div>
                        <div class="form-group">
                            <label for="edit_price">Цена билета</label>
                            <input type="number" id="edit_price" name="price" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="edit_image">Новый постер (оставьте пустым, чтобы не изменять)</label>
                        <input type="file" id="edit_image" name="image" accept="image/*">
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn-save">Сохранить изменения</button>
                    </div>
                </form>
                <form method="POST" action="{{ url_for('admin_page.delete_films') }}" id="editFormDelete">
                    <input type="hidden" id="delete_id" name="delete_movie_id">
                    <input type="hidden" id="delete_image" name="delete_image_name" value="">
                    <button type="submit" class="btn-delete">Удалить фильм</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        function selectMovie(element) {
            const movieId = element.getAttribute('data-movie-id');
            const movieRating = element.getAttribute('movie-rating');
            const movieName = element.getAttribute('movie-name');
            const movieTitle = element.querySelector('h3').textContent;
            const movieInfo = element.querySelector('p').textContent.split(' | ');

            // Заполняем форму редактирования
            document.getElementById('edit_id').value = movieId;
            document.getElementById('delete_id').value = movieId;
            document.getElementById('edit_title').value = movieTitle;
            document.getElementById('edit_genre').value = movieInfo[0];
            document.getElementById('edit_rating').value = movieRating;
            document.getElementById('edit_duration').value = movieInfo[1].replace(' мин', '');
            document.getElementById('edit_image_preview').src = element.querySelector('img').src;
            document.getElementById('delete_image').value = movieName

            // Активируем форму редактирования
            document.getElementById('editForm').style.display = 'block';

            // Прокрутка к форме редактирования
            document.getElementById('editForm').scrollIntoView({behavior: 'smooth'});
        }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
