<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кинотека — Главная</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='movies/style.css') }}">
</head>
<body>
<!-- Навигационная панель -->
<nav class="navbar">
    <div class="container">

        <a href="." class="navbar-brand">
            <span class="logo-text">КИНОТЕКА</span>
            <img src="{{ url_for('static', filename='movies/images/logo-hover.png') }}" class="logo-image"
                 alt="Кинотека">
        </a>

        <div class="nav-links">
            <a href="#" class="nav-link active">Фильмы</a>
            <a href="#" class="nav-link">Новинки</a>
            <a href="#" class="nav-link">Скоро</a>
            <a href="#" class="nav-link">Рейтинги</a>
        </div>

        <div class="auth-buttons">
            {% if not user_activ %}
                <a href="#" class="btn-auth btn-login">Войти</a>
                <form action="{{ url_for('auth.register_form') }}" method="GET">
                    <button type="submit" class="btn-auth btn-register">Регистрация</button>
                </form>
            {% else %}
                <a href="" class="btn-auth-user btn-profile">Мой профиль</a>
                <form action="" method="POST">
                    <button type="submit" class="btn-auth-user btn-logout">Выйти</button>
                </form>
            {% endif %}
        </div>
    </div>
</nav>

<div class="findbar">
    <div class="container">
        <div class="search">
            <input type="text" placeholder="Найти фильм...">
            <button>Поиск</button>
        </div>
    </div>
</div>

<!-- Основной контент -->
<div class="container main-content">
    <h1 class="page-title">Сейчас в кинотеатрах</h1>

    <div class="movies-grid">
        {% for event in events%}
        <!-- Карточка фильма 1 -->
        <div class="movie-card">
            <img src="{{ url_for('static', filename='movies/images/' + event.ImageName) }}" alt="{{event.Title}}"
                 class="movie-poster">
            <div class="movie-info">
                <h3 class="movie-title">{{event.Title}}</h3>
                <p class="movie-genre">Фантастика, {{event.Duration}}</p>
                <div class="movie-rating">{{event.Rating}}/10</div>
                <form action="{{ url_for('movies.movie', event_id=event.EventId) }}" method="GET">
                    <input type="hidden" name="movie_title" value={{event.Title}}>
                    <input type="hidden" name="movie_id" value={{event.EventId}}>
                    <button type="submit" class="btn-buy">Купить билет</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
